In [1]:
import pandas as pd
import sqlite3
import os

# =========================================================
# STEP 0: Remove old database (prevents table already exists error)
# =========================================================
if os.path.exists("restaurants.db"):
    os.remove("restaurants.db")

# =========================================================
# STEP 1: Load orders.csv
# =========================================================
orders = pd.read_csv("orders.csv")
print("Orders Data:")
print(orders.head())

# =========================================================
# STEP 2: Load users.json
# =========================================================
users = pd.read_json("users.json")
print("\nUsers Data:")
print(users.head())

# =========================================================
# STEP 3: Load restaurants.sql into SQLite
# =========================================================
conn = sqlite3.connect("restaurants.db")
cursor = conn.cursor()

with open("restaurants.sql", "r") as f:
    sql_script = f.read()

cursor.executescript(sql_script)
conn.commit()

# =========================================================
# STEP 4: Read restaurants table
# =========================================================
restaurants = pd.read_sql_query("SELECT * FROM restaurants", conn)
print("\nRestaurants Data:")
print(restaurants.head())

# =========================================================
# STEP 5: Merge datasets (LEFT JOIN)
# =========================================================
merged_df = orders.merge(users, on="user_id", how="left")
final_df = merged_df.merge(restaurants, on="restaurant_id", how="left")

# =========================================================
# STEP 6: Save final dataset
# =========================================================
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

print("\n‚úÖ Final dataset created successfully!")
print("Rows:", final_df.shape[0])
print("Columns:", final_df.shape[1])

conn.close()

# =========================================================
# ======================= ANALYSIS ========================
# =========================================================

# 1Ô∏è‚É£ Gold member revenue by city
gold_city_revenue = (
    final_df[final_df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print("\nGold Member Revenue by City:")
print(gold_city_revenue)

# 2Ô∏è‚É£ Average order value by cuisine
avg_cuisine_value = (
    final_df.groupby("cuisine")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

print("\nAverage Order Value by Cuisine:")
print(avg_cuisine_value)

# 3Ô∏è‚É£ Number of users spending more than ‚Çπ1000
user_spending = final_df.groupby("user_id")["total_amount"].sum()
high_spenders = user_spending[user_spending > 1000]

print("\nNumber of users spending > 1000:")
print(high_spenders.count())

# 4Ô∏è‚É£ Gold members ‚Äì average order value by city
gold_city_avg = (
    final_df[final_df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

print("\nGold Members - Average Order Value by City:")
print(gold_city_avg)

# 5Ô∏è‚É£ Revenue by restaurant rating range
bins = [0, 3.5, 4.0, 4.5, 5.0]
labels = ["3.0-3.5", "3.6-4.0", "4.1-4.5", "4.6-5.0"]

final_df["rating_range"] = pd.cut(
    final_df["rating"],
    bins=bins,
    labels=labels,
    include_lowest=True
)

rating_revenue = (
    final_df.groupby("rating_range")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print("\nRevenue by Rating Range:")
print(rating_revenue)

# 6Ô∏è‚É£ Cuisine with few restaurants but strong revenue
cuisine_stats = final_df.groupby("cuisine").agg(
    distinct_restaurants=("restaurant_id", "nunique"),
    total_revenue=("total_amount", "sum")
)

print("\nCuisine Stats:")
print(cuisine_stats.sort_values("distinct_restaurants"))

# 7Ô∏è‚É£ Percentage of orders by Gold members
total_orders = len(final_df)
gold_orders = len(final_df[final_df["membership"] == "Gold"])
percentage = round((gold_orders / total_orders) * 100)

print("\nPercentage of orders by Gold members:")
print(percentage, "%")

# 8Ô∏è‚É£ Restaurant with highest avg order value (< 20 orders)
restaurant_stats = final_df.groupby("restaurant_name_x").agg(
    order_count=("order_id", "count"),
    avg_order_value=("total_amount", "mean")
)

filtered_restaurants = restaurant_stats[
    restaurant_stats["order_count"] < 20
].sort_values("avg_order_value", ascending=False)

print("\nHighest Avg Order Value Restaurants (<20 orders):")
print(filtered_restaurants.head(10))

# 9Ô∏è‚É£ Revenue by Membership + Cuisine
combo_revenue = (
    final_df
    .groupby(["membership", "cuisine"])["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print("\nRevenue by Membership + Cuisine:")
print(combo_revenue)

# üîü Revenue by Quarter
final_df["order_date"] = pd.to_datetime(final_df["order_date"], dayfirst=True)
final_df["quarter"] = final_df["order_date"].dt.to_period("Q")

quarter_revenue = (
    final_df.groupby("quarter")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print("\nRevenue by Quarter:")
print(quarter_revenue)

Orders Data:
   order_id  user_id  restaurant_id  order_date  total_amount  \
0         1     2508            450  18-02-2023        842.97
1         2     2693            309  18-01-2023        546.68
2         3     2084            107  15-07-2023        163.93
3         4      319            224  04-10-2023       1155.97
4         5     1064            293  25-12-2023       1321.91

                  restaurant_name
0               New Foods Chinese
1  Ruchi Curry House Multicuisine
2           Spice Kitchen Punjabi
3          Darbar Kitchen Non-Veg
4       Royal Eatery South Indian

Users Data:
   user_id    name       city membership
0        1  User_1    Chennai    Regular
1        2  User_2       Pune       Gold
2        3  User_3  Bangalore       Gold
3        4  User_4  Bangalore    Regular
4        5  User_5       Pune       Gold

Restaurants Data:
   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

‚úÖ Final dataset created successfully!
Rows: 10000
Columns: 12

Gold Member Revenue by City:
city
Chennai      1080909.79
Pune         1003012.32
Bangalore     994702.59
Hyderabad     896740.19
Name: total_amount, dtype: float64

Average Order Value by Cuisine:
cuisine
Mexican    808.021344
Italian    799.448578
Indian     798.466011
Chinese    798.389020
Name: total_amount, dtype: float64

Number of users spending > 1000:
2544

Gold Members - Average Order Value by City:
city
Chennai      808.459080
Hyderabad    806.421034
Bangalore    793.223756
Pune         781.162243
Name: total_amount, dtype: float64

Revenue by Rating Range:
rating_range
4.6-5.0    2197030.75
3.0-3.5    2136772.70
4.1-4.5    1960326.26
3.6-4.0    1717494.41
Name: total_amount, dtype: float64

Cuisine Stats:
         distinct_restaurants  total_revenue
cuisine
Chinese                   120     1930504.65
Indian                    126     1971412.58
Italian                   126     2024203.80
Mexican                   128     2085503.09

Percentage of orders by Gold members:
50 %

Highest Avg Order Value Restaurants (<20 orders):
                                       order_count  avg_order_value
restaurant_name_x
Hotel Dhaba Multicuisine                        13      1040.222308
Sri Mess Punjabi                                12      1029.180833
Ruchi Biryani Punjabi                           16      1002.140625
Sri Delights Pure Veg                           18       989.467222
Classic Kitchen Family Restaurant               19       973.167895
Hotel Dhaba Chinese                             18       973.125556
Amma Mess Pure Veg                              18       965.299444
Hotel Biryani Pure Veg                          13       964.577692
Annapurna Curry House Multicuisine              17       954.512353
Taste of Restaurant Family Restaurant           10       948.220000

Revenue by Membership + Cuisine:
membership  cuisine
Regular     Mexican    1072943.30
            Italian    1018424.75
Gold        Mexican    1012559.79
            Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
            Chinese     977713.74
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

Revenue by Quarter:
quarter
2023Q3    2037385.10
2023Q4    2018263.66
2023Q1    1993425.14
2023Q2    1945348.72
2024Q1      17201.50
Freq: Q-DEC, Name: total_amount, dtype: float64

C:\Users\navee\AppData\Local\Temp\ipykernel_23456\1496756453.py:116: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  final_df.groupby("rating_range")["total_amount"]